.site-header{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    height:3em;
    background:#fff;
    padding:0.25em 1em;
    position:sticky;
    top:0;
    z-index:2;

    .nav-button{
        margin-left:auto;
        position: relative;
        height: 100%;

        svg{
            height:100%;
            width:auto;
        }

    }
}

.site-content-wrapper{

    .nav-close{
        display:none;
    }

    &.nav-active{

        .nav-close{
            display:block;
        }
        .nav-open{
            display:none;
        }
    }
}