.container{
    padding: 0 1em;

    &-center-text{
        text-align: center;
    }
    
    &.container-some-padding{
        padding: 0 2em;
    }

    &.container-extra-padding{
        padding: 0 3em;
    }
}