.outer {
    display: block;
    width: 100%;

    .body-mobile {
        position: relative;
        box-sizing: border-box;
        max-width: 425px;
        height: 900px;
        margin: 0 auto;
        overflow: hidden;

        .mobile-overlay {
            position: absolute;
            z-index: 1000;
            pointer-events: none;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    .site-content-wrapper {
        position: absolute;
        cursor: pointer;
        left: 1.5em;
        top: 4em;
        width: calc(100% - 2em);
        height: calc(100% - 5.5em);
        box-sizing: border-box;
        z-index: 1;
        overflow-y: scroll;
    }

    .site-content {
        position: relative;
        // background:#f1f1f1;
        user-select: none;
        box-sizing: border-box;
        overflow: hidden;
    }

    @media only screen and (max-width: 640px) {
        .site-content-wrapper {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1001;
        }

        .body-mobile {
            width: 100vw;
            height: 100vh;
            max-width: none;
    
            .mobile-overlay {
                display:none;
            }
        }
    }

    // @media only screen and (min-width: 640px) and (max-height:900px) {
    //     .body-mobile{
    //         transform: scale( calc( 900 / 100vw ) );
    //     }
    // }
}
